<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ngx-Datatable Ionic 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- material, dark, botstrap -->
    <ngx-datatable 
      class="material" 
      [limit]="5"
      [rows]="rows"
      [rowHeight]="50"
      [columns]="columns"
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50">
    </ngx-datatable>
  </div>
</ion-content>
